.header {
    min-height: 100vh;
    background: #9ddef6;
    padding: 0rem 10%;
    color: #28285b;
    width: 100%;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
}

.home .content {
    flex: 1 1 30rem;
}

.home .content h4 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: lighter;
}

.home .content h1 {
    font-size: 3.5rem;

}

.home .content p {
    font-size: 1.5rem;
    color: gray;
    margin-top: 1rem;
}

.home .content .btn {
    margin-top: 1.5rem;
}

.home .content .home-box {
    display: flex;
    gap: 1rem;
}

.box-home {
    display: flex;
    /* flex-direction: r; */
    margin-top: 1rem;
    gap: 0.8rem;
}

.box-home .hh {
    font-size: 1.5rem;
}

.box-home img {
    width: 3rem;
    height: 3rem;
}


.home .image {
    flex: 1 1 30rem;
}

.home .image img {
    width: 100%;
    height: 100%;
}


.home-service {
    min-height: 40vh;
    max-width: 100%;
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-box {
    flex: 1 1 10rem;
    display: flex;
    gap: 0.8rem;
    width: 300px;
}

.service-box img {
    width: 8rem;
    height: 8rem;
}

.home-service-box {
    width: 250px;
    margin-top: 2rem;
}

.home-service-box h5 {
    font-size: 1.8rem;
}


@media(max-width:575px) {
    .header {
        padding: 0rem 7%;
    }

    .home .content h1 {
        font-size: 2.6rem;
    }
}

@media(max-width:380px) {
    .header {
        padding: 0rem 5%;
    }

    .home .content h1 {
        font-size: 2rem;
    }

    .home .content p {
        font-size: 1rem;
    }

    .box-home {
        flex-direction: column;
    }

    .service-box {
        gap: 0.2rem;
        width: 270px;
    }

    .service-box img {
        width: 6rem;
        height: 6rem;
    }

    .home-service-box {
        width: 200px;
        margin-top: 1rem;
    }

    .home-service-box h5 {
        font-size: 1.3rem;
    }
}


/* consultant */
.home-consultant {
    margin-top: 4rem;
}

div.home-c .introducing {
    text-align: center;
}

.home-c .heading {
    text-align: center;
    margin: 0.5rem auto;

}

.consult-home {
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.consult-home .consult-image {
    flex: 1 1 30rem;
}

.consult-image img {
    width: 100%;
    height: 100%;
}

.consult-home .consult-content {
    flex: 1 1 30rem;
}

.consult-content .consult-heading {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 2.4rem;

}

.consult-content p {
    font-size: 1.14rem;
    margin-top: 0.5rem;
}

.consultant {
    display: flex;
    /* flex-direction: column; */
    gap: 6rem;
}

.consult-content .btn {
    margin-top: 1rem;
}

@media(max-width:545px) {
    .consult-content .consult-heading {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.9rem;
    }
}

@media(max-width:350px) {
    .consult-content .consult-heading {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}

@media(max-width:490px) {

    .consult-content p {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .consultant {
        gap: 2rem;
    }

}

@media(max-width:370px) {
    .consultant {
        gap: 0.5rem;
    }
}

@media(max-width:332px) {
    .consultant {
        flex-direction: column;
    }
}



/* department */

div.home-d .introducing {
    padding-left: 7%;
}

div.home-d .heading {
    padding-left: 7%;
    width: 650px;
    margin: none !important;
}

.department-content {
    flex: 1 1 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: row;
}

.box {
    width: 200px;
    margin-top: 0.5rem;
}

.box .icon {
    font-size: 2.2rem;
}


@media(max-width:540px) {
    div.home-d .heading {
        font-size: 2rem;
        width: 90%;
    }

    .consult-home {
        padding: 1rem 4%;
    }

    .department-content {
        gap: 1rem;
    }
}

@media(max-width:380px) {
    div.home-d .heading {
        font-size: 1.6rem;
        width: 95%;
    }
}


/* teams  */

.home-d a>button {
    position: absolute;
    right: 10rem;
    top: auto;
    margin-top: -2rem;
}


/* Team Card */

.card-box {
    padding: 4rem 7%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 2rem;
}

.cards {
    /* flex: 1 1 30rem; */
    width: 220px !important;
    height: 300px;
    overflow: hidden;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cards img {
    width: 100%;
    height: 73%;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-left: 0.1rem;
}

.card-content h4 {
    font-size: 1.3rem;
}

.card-content h5 {
    font-size: 1rem;
}

.card-content p {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
}